@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-brand-50 text-brand-900 antialiased;
}

/* soft scrollbars */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  @apply rounded-full bg-slate-300;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
